<div class="comments-section">
  <div class="comments-header">
    <h3>Commentaires</h3>
    <span class="comments-count">{{ comments?.length }} avis</span>
  </div>
  <ul class="comments-list">
    @for(comment of comments ;track comment.id)
    {  <li class="comment-item">
        <div class="comment-avatar">
         <i class="bi bi-person-circle"></i>
        </div>
        <div class="comment-content">
          <div class="comment-author">{{comment.author_name}}</div>
          <p>{{comment.message}}</p>
        </div>
        <button class="like-btn" aria-label="J'aime" (click)="toggleLike(comment?.id)">
          <i class="bi bi-heart"></i>{{ comment.like_count }} {{ comment.like_count!= 1 ? 'J\'aimes' : 'J\'aime' }}
        </button>
      </li>}
    @empty()
     { <li class="comment-item">
        <p>Aucun commentaire <i class="bi bi-chat"></i></p>
      </li>}

  </ul>
<form class="add-comment-form"  role="form" aria-label="Ajouter un commentaire">
  <label for="new-comment" class="visually-hidden">Écrivez votre commentaire ici</label>
  <textarea id="new-comment" name="new-comment" placeholder="Écrivez votre commentaire ici..." rows="3" aria-multiline="true" [(ngModel)]="message"></textarea>
  <button type="button" class="submit-comment-btn"  (click)="onSubmitComment()" [disabled]="!message">
    <i class="bi bi-send"></i> Publier le commentaire
  </button>
</form>
</div>

