<div class="selected-museum-container container">
  <section class="museum-detail-card card shadow-sm p-4">
    <div class="museum-main d-flex flex-wrap gap-4">
      <div class="museum-info flex-grow-1 d-flex flex-column justify-content-between">
        <div class="left">
          <div class="left-container">
            <div class="museum-img-wrapper flex-shrink-0">
              <img [src]="museum?.photo" class="museum-image" />
            </div>
            <div class="info">
              <h1 class="museum-name">{{ museum?.name }}</h1>
              <div class="museum-subtitle text-muted mb-3">
                <span class="category">catégorie &middot;{{ museum?.category }}</span> &middot;
              </div>
              <p class="museum-description">{{ museum?.description }}</p>
            </div>
          </div>

                  <div class="museum-meta">
                <h5>Informations</h5>

                <div class="meta-item">
                  <label><i class="bi bi-geo-alt"></i> Lieu</label>
                  <p>{{ museum?.location }}</p>
                </div>

                <div class="meta-item">
                  <label><i class="bi bi-tags"></i> Catégorie</label>
                  <p>{{ museum?.category }}</p>
                </div>

                <div class="meta-item">
                  <label><i class="bi bi-calendar-plus"></i> Créer lieu</label>
                  <p>{{ museum?.created_at | date:'d MMMM yyyy' }}</p>
                </div>

                <div class="meta-item">
                  <label><i class="bi bi-clock"></i> Horaire</label>
                  <p>{{('2025-01-01T' + museum?.opening_hour) | date:'HH:mm' }} - {{ ('2025-01-01T' + museum?.closing_hour) | date:'HH:mm' }}</p>
                </div>

                <div class="meta-item">
                  <label><i class="bi bi-ticket-perforated"></i> Prix d’entrée</label>
                  <p>{{ museum?.entry_price }} DT</p>
                </div>

                <div class="meta-item">
                  <label><i class="bi bi-eye"></i> Visite</label>
                  <p>{{ museum?.visits }}</p>
                </div>
              </div>


        </div>
        <div class="museum-actions mt-4 d-flex gap-3">
                    <button class="btn btn-primary btn-visit" (click)="onVisitClick()">
            Commencer la visite
            </button>
                    <button class="btn btn-outline-secondary btn-itinerary" (click)="onItineraryClick(museum?.name, museum?.location)">
            <i class="fas fa-paper-plane"></i> Itinéraire
            </button>
        </div>
      </div>
    </div>
    <section class="comments-section mt-5">
      <h2 class="comments-title mb-3">Commentaires</h2>
      @if(museum?.id){
        <div class="comments-links mt-4">
        <app-museum-comments [museumId]="museum.id || 0"></app-museum-comments>
      </div>
      }
    </section>
  </section>
</div>