<nav class="navbar">
  <div class="nav-container">
    <div class="nav-title">
      <i class="bi bi-book-half"></i>
      <span>Artevia</span>
    </div>
<div class="nav-links">
  <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Accueil</a>
  <a routerLink="museums" routerLinkActive="active" class="nav-link">Musées</a>
  <a routerLink="aboutus" routerLinkActive="active" class="nav-link">À propos</a>
</div>

    <div class="nav-buttons">
      <button class="btn-login" routerLink="login">Connexion</button>
      <button class="btn-signup" routerLink="signup">S'inscrire</button>
    </div>
  </div>
</nav>